:root{
  --corTelaGrande:#9cc2d1;
  --corPrincipal:#049DD9;
  --corSecundaria:#F27B35;
  --corSecundariaActive:#ffac7c;
  --gradiente-radial:radial-gradient(circle, rgba(16,98,131,1) 0%, rgba(4,157,217,1) 100%);
  /* #3f3f3f; */
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/* body{
    background-color: var(--corTelaGrande);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;
} */

/* primeira section */

.inicio-top{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--corPrincipal);
  height: 85vh;
  width: 100%;
  overflow: hidden;
}

.inicio-top h2{
    color: #fff;
}
.logo-home{
    width: 80%;
}

.inicio-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30vh;
  background-color: #fff;
  border-radius: 40% 0 0;
  box-shadow:  2px 20px 30px #000;
  box-shadow: inset 4px 8px 10px rgba(0, 0, 0, 0.1);
}

.div-btn {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 90%;
}


.btn-iniciar,
.btn-historico{
  flex: 1; /* Usei flex para que os botões se expandam para preencher o espaço disponível */
  padding: 15px;
  border-radius: 8px;
  border: none;
  outline: none;
  box-shadow:  1px 1px 4px 1px #ccc;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  transition: 1s ease all;
}
.btn-iniciar{
  background-color: var(--corSecundaria);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.btn-historico{
  background-color: #fff;
  border: 2px solid var(--corSecundaria);
  color: var(--corSecundaria);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

/* efeitos */
.btn-iniciar:active{
  background-color:var(--corSecundariaActive);
}
.btn-historico:active{
  background-color: #e9e9e9;
}
.btn-iniciar:active,
.btn-historico:active{
  outline: 2px solid var(--corSecundaria);
}

/* Transição suave entre as seções */
/* .inicio, .registro {
    transition: opacity 0.5s;
} */

/* Oculta a seção de início */
/* .inicio.hidden {
    opacity: 0;
    pointer-events: none;
} */




/* segunda section */

/* .registro{
    display: grid;
    grid-template-areas: 
    "registro-top"
    "registro-bottom"
    "registro-menu";
    grid-template-rows: 80px auto 80px;
} */

.registro-top{
  /* grid-area:registro-top; */
  background-color: var(--corPrincipal);
  display: flex;
  justify-content: center;
  padding: 10px;
  box-shadow:  1px 1px 4px 1px #ccc;
  /* border-radius:0 0 20px 20px; */
}
.registro-top img{
  width: 70px;
}
.registro-bottom{
  display: flex;
  justify-content: center;
  /* height: calc(100% - 100px);
  overflow-y: scroll; */
}
#form2{
  height: 50%;
  overflow-y: scroll;
}

.registro-menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--corPrincipal);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 1px 1px 4px 1px #ccc;
  border-radius: 20px 20px 0 0;
}
  

.fa-house,
.fa-clock-rotate-left{ font-size: 20px;}
.registroBtnMenu > span {font-size: 10px;}

.registroBtnHistorico,
.registroBtnMenu {
  padding: 30px;
  margin: 0;
  background-color: #02a3e2;
  /* box-shadow:1px 1px 8px 4px #0890c5; */
  width: 40px; 
  height: 40px;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}

.registroBtnHistorico > span {font-size: 10px;}
  
.container {
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease all;
}
.img-formulario{
  display: flex;
  justify-content: center;
}
.img-formulario > img{
  width: 200px;
}
.img-segundo-formulario{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #3f3f3f;
}
.img-segundo-formulario > img{
  width: 150px;
}
form > div {
  margin-top: 5px;
  margin-bottom: 20px;
}
.input-container {
  position: relative;
  margin-bottom: 40px;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.label {
  color: var(--corPrincipal);
  position: absolute;
  top: 10px;
  left: 10px;
  pointer-events: none;
  transition: 0.2s ease all;
}

.input:focus + .label,
.input:valid + .label {
  top: -20px;
  font-size: 12px;
  color: var(--corSecundaria);
}

  
input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: 0.3s ease all;
  font-size: 16px;
}

input[type="file"] {
  width: 0;
  height: 0;
  opacity: 0;
  /* position: absolute; Remova esta linha */
}

button {
  color: #fff;
  border: none;
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s ease all;
}
.btn-proximo{
  width: 100%;
  background-color: var(--corSecundaria);
}
#segundo-formulario {
  /* Remova 'position: absolute;' */
  height: 100%; /* Defina a altura como 100% para ocupar a tela inteira */
  display: none;
  animation: slideFromRight 0.5s ease forwards;
  overflow: hidden;
}
.btn-voltar,
.btn-enviar{
  width: 49%;
  padding: 15px;
  border-radius: 8px;
}
.fa-backward-step,
.fa-paper-plane,
.fa-forward-step,
.fa-user-group,
.fa-location-dot,
.fa-car{padding-right: 10px;}

.btn-voltar{background-color:var(--corPrincipal);}
.btn-enviar{background-color: var(--corSecundaria);}

/* SECTION HISTORICO */
#historico {
  border: 1px solid #ccc;
  padding: 10px;
  max-height: 300px;
  overflow-y: scroll;
}

#lista-historico {
  list-style: none;
  padding: 0;
}

#lista-historico li {
  border-bottom: 1px solid #ccc;
  padding: 5px 0;
  margin: 0;
}


@keyframes slideFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideToRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes slideToLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}  