:root{
    --corPrincipal:#049DD9;
    --corSecundaria:#F27B35;
    
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(16,98,131);
    background: radial-gradient(circle, rgba(16,98,131,1) 0%, rgba(4,157,217,1) 100%);
}

img { 
    width: 30%;
}
.loading-wrapper {
    text-align: center;
}

.loader {
    border: 3px solid #fff; 
    border-top: 3px solid var(--corSecundaria); 
    border-radius: 50%;
    width: 15px;
    height: 15px;
    animation: spin 1.5s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
